<html>
<head>
	<title>Test Gui2DComponents</title>
	<link rel="stylesheet" href="dist/css/gui-2d-components.css"/>
	<script type="text/javascript" src="dist/js/jquery.min.js"></script>
	<script type="text/javascript" src="dist/js/angular.min.js"></script>
	<script type="text/javascript" src="dist/js/gui-2d-components.js"></script>
	<script type="text/javascript" src="test.js"></script>
</head>
<body ng-app="testGui">
	<div ng-controller="MainController" ng-init="init()">
		<p>test</p>
		<rotative id="uno" min="0" max="100" step="1" ng-model="gain" label="gain" color="orange" startFrom="40"></rotative>
		<selector id="due" position="5" color="blue" ng-model="type" label="type"></selector>
		<switch id="tre" ng-model="switchStatus"></switch>
		<input type="text" ng-model="gain" />
	</div>
</body>
</html>