<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gui2dcomponents by sergioska</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="dist/css/gui-2d-components.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/gui-2d-components/src/js/gui-2d-components.js"></script>
    <script type="text/javascript" src="javascripts/test.js"></script>
  </head>
  <body ng-app="testGui">
    
    <div class="wrapper" ng-controller="MainController" ng-init="init()">

      <header>
        <h1>Gui2dcomponents</h1>
        <p>Alternative angularjs components for GUI</p>

        <p class="view"><a href="https://github.com/sergioska/Gui2DComponents">View the Project on GitHub <small>sergioska/Gui2DComponents</small></a></p>


        <ul>
          <li><a href="https://github.com/sergioska/Gui2DComponents/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/sergioska/Gui2DComponents/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/sergioska/Gui2DComponents">View On <strong>GitHub</strong></a></li>
        </ul>

        <p class="view"><strong>Demo</strong>  <small>(hold on mouse down and move up)</small></p>
        <div style="float:left; margin-left: 8px;">
            <rotative min="0" max="100" step="1" ng-model="gain" label="gain" color="orange"></rotative>
            <rotative min="0" max="1" step="0.01" ng-model="hi" label="hi" color="red"></rotative>
        </div>

        <div style="float:left; margin-left: 50px;">
            <selector position="5" color="blue" ng-model="type" label="type"></selector>
            <selector position="10" color="green" ng-model="subtype" label="sub"></selector>
        </div>

      </header>

      <section>
        <h1>
<a id="gui2dcomponents" class="anchor" href="#gui2dcomponents" aria-hidden="true"><span class="octicon octicon-link"></span></a>Gui2DComponents</h1>

<p>Alternative angularjs components for GUI</p>

<blockquote>
<p>An alternative collection of reusable UI components for <a href="https://angularjs.org/">AngularJS</a></p>
</blockquote>

<h2>
<a id="quick-start" class="anchor" href="#quick-start" aria-hidden="true"><span class="octicon octicon-link"></span></a>Quick start</h2>

<h1>
<a id="install-via-bower" class="anchor" href="#install-via-bower" aria-hidden="true"><span class="octicon octicon-link"></span></a>Install via Bower</h1>

<div class="highlight highlight-sh"><pre>bower install gui-2d-components.js --save</pre></div>

<h1>
<a id="clone-repository" class="anchor" href="#clone-repository" aria-hidden="true"><span class="octicon octicon-link"></span></a>Clone repository</h1>

<div class="highlight highlight-sh"><pre>git clone https://github.com/sergioska/Gui2DComponents.git
<span class="pl-s3">cd</span> Gui2DComponents
bower install
npm install
grunt client</pre></div>

<p>Include the required bower component:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">link</span> <span class="pl-e">rel</span>=<span class="pl-s1"><span class="pl-pds">"</span>stylesheet<span class="pl-pds">"</span></span> <span class="pl-e">href</span>=<span class="pl-s1"><span class="pl-pds">"</span>bower_components/gui-2d-components/src/css/gui-2d-components.css<span class="pl-pds">"</span></span>/&gt;
&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s1"><span class="pl-pds">"</span>bower_components/gui-2d-components/src/js/gui-2d-components.js<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">script</span>&gt;</pre></div>

<p>Inject the <code>Gui2DComponents</code> module into your app:</p>

<div class="highlight highlight-JavaScript"><pre>angular.module(<span class="pl-s1"><span class="pl-pds">'</span>myApp<span class="pl-pds">'</span></span>, [<span class="pl-s1"><span class="pl-pds">'</span>Gui2DComponents.js<span class="pl-pds">'</span></span>]);</pre></div>

<h1>
<a id="using" class="anchor" href="#using" aria-hidden="true"><span class="octicon octicon-link"></span></a>Using</h1>

<p>to use rotative component:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">rotative</span> <span class="pl-e">id</span>=<span class="pl-s1"><span class="pl-pds">"</span>one<span class="pl-pds">"</span></span> <span class="pl-e">color</span>=<span class="pl-s1"><span class="pl-pds">"</span>orange<span class="pl-pds">"</span></span> <span class="pl-e">min</span>=<span class="pl-s1"><span class="pl-pds">"</span>0<span class="pl-pds">"</span></span> <span class="pl-e">max</span>=<span class="pl-s1"><span class="pl-pds">"</span>10<span class="pl-pds">"</span></span> <span class="pl-e">step</span>=<span class="pl-s1"><span class="pl-pds">"</span>0.1<span class="pl-pds">"</span></span> <span class="pl-e">label</span>=<span class="pl-s1"><span class="pl-pds">"</span>gain<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s1"><span class="pl-pds">"</span>gainValue<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">rotative</span>&gt;</pre></div>

<rotative min="0" max="100" step="1" ng-model="gain2" label="gain" color="orange"></rotative>

<p>to use selector component:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">selector</span> <span class="pl-e">id</span>=<span class="pl-s1"><span class="pl-pds">"</span>two<span class="pl-pds">"</span></span> <span class="pl-e">color</span>=<span class="pl-s1"><span class="pl-pds">"</span>blue<span class="pl-pds">"</span></span> <span class="pl-e">position</span>=<span class="pl-s1"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span> <span class="pl-e">label</span>=<span class="pl-s1"><span class="pl-pds">"</span>type<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s1"><span class="pl-pds">"</span>typeValue<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">selector</span>&gt;</pre></div>

<selector position="5" color="blue" ng-model="type" label="type"></selector>

<p>to use switch component:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">switch</span> <span class="pl-e">id</span>=<span class="pl-s1"><span class="pl-pds">"</span>three<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s1"><span class="pl-pds">"</span>switchStatus<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">switch</span>&gt;</pre></div>

<switch id="switcher" ng-model="switchStatus"></switch>

<p>You can add nc-click attribute to switch component and read switch status on function body; for example:</p>

<div class="highlight highlight-javascript"><pre>    <span class="pl-c">// suppose that we have ng-click="play()" like attribute on html switch component declaration</span>
    <span class="pl-s3">$scope</span>.<span class="pl-en">play</span> <span class="pl-k">=</span> <span class="pl-st">function</span>() {
        <span class="pl-c">// read switch component status from ng-model</span>
        <span class="pl-k">if</span>($scope.switchStatus <span class="pl-k">===</span> <span class="pl-c1">1</span>)
           $scope.synth.playNote();
        <span class="pl-k">else</span> $scope.<span class="pl-s3">stop</span>();
    };</pre></div>


      </section>

      <footer>
        <p>This project is maintained by <a href="https://github.com/sergioska">sergioska</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>